<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AtsEx.CoreExtensions" version="1.0.0-rc7" targetFramework="net48" />
  <package id="AtsEx.PluginHost" version="1.0.0-rc8" targetFramework="net48" />
  <package id="Lib.Harmony" version="2.2.2" targetFramework="net48" />
  <package id="ObjectiveHarmonyPatch" version="1.1.0" targetFramework="net48" />
  <package id="SlimDX" version="4.0.13.44" targetFramework="net48" />
  <package id="UnembeddedResources" version="1.0.0" targetFramework="net48" />
</packages>