name: Create release
on:
   workflow_dispatch:

jobs:
  build:
    name: Generate dll
    runs-on: windows-latest
    outputs:
      name: ${{ steps.version.outputs.name }}
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup MSBuild.exe
        uses: microsoft/setup-msbuild@v1.3.1
      - name: Setup Nuget
        uses: NuGet/setup-nuget@v1.2.0
      - name: Restore nuget packages
        run: nuget restore MetroAts.sln
      - name: Build sln
        run: msbuild MetroAts.sln /m /p:configuration="Release" /p:platform="Any CPU" /p:OutputPath="./out/"
        shell: cmd
      - name: Collect artifact
        run: |
          mkdir plugins/
          find . -type f -name 'MetroAts.dll' | xargs mv --force --backup=numbered -t ./plugins/
          find . -type f -name '*Signal.dll' | xargs mv --force --backup=numbered -t ./plugins/
          find . -type f -name '*Addon.dll' | xargs mv --force --backup=numbered -t ./plugins/
          find . -type f -name 'LICENSE' | xargs mv --force --backup=numbered -t ./plugins/
          rm plugins/*~
        shell: bash
      - name: Check assembly version
        id: version
        run: |
          Get-ChildItem plugins/ -Recurse -Filter "MetroAts.dll" -File | foreach {
          Write-Output $_.FileName
          $_.FileName
          "name=$_" | Out-File -FilePath $env:GITHUB_OUTPUT -Append
          $ver=(Get-Item $_.FullName).VersionInfo.FileVersion
          $ver
          "version=v$ver" | Out-File -FilePath $env:GITHUB_OUTPUT -Append
          }
        shell: pwsh
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: plugins
          path: ./plugins/

  release:
    name: Create release
    runs-on: ubuntu-latest
    env:
      TARGET_REPO: winup-zhou/bve-autopilot-lib
      TARGET_WORKFLOW_FILE: build.yml
      GH_TOKEN: ${{ secrets.ACCESS_TOKEN }}
    needs: build
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Get latest workflow run id of winup-zhou/bve-autopilot-lib
        run: |
          RUN_ID=$(gh run list -w ${{ env.TARGET_WORKFLOW_FILE }} --repo "${{ env.TARGET_REPO }}" -L 1 --json databaseId | jq -r '.[0].databaseId')
          echo "LATEST_RUN_ID=$RUN_ID" >> "$GITHUB_ENV"
        shell: bash 
      - name: Download a build artifact from winup-zhou/bve-autopilot-lib
        uses: actions/download-artifact@v4
        with:
          run-id: ${{ env.LATEST_RUN_ID }}
          path: plugins
          repository: ${{ env.TARGET_REPO }}
          github-token: ${{ secrets.ACCESS_TOKEN }}
      - name: Download a build artifact from winup-zhou/MetroAts
        uses: actions/download-artifact@v4
      - name: Create tag
        uses: rickstaa/action-create-tag@v1
        id: "tag_create"
        with:
          tag: "${{needs.build.outputs.version}}"
          tag_exists_error: true
          message: "Created tag ${{needs.build.outputs.version}}"
      - name: Get repository name
        run: |
          echo "REPOSITORY_NAME=${GITHUB_REPOSITORY#${GITHUB_REPOSITORY_OWNER}/}" >> $GITHUB_ENV
          echo "FILE_NAME=${GITHUB_REPOSITORY#${GITHUB_REPOSITORY_OWNER}/}_${{needs.build.outputs.version}}" >> $GITHUB_ENV
      - name: Compress DLLs
        run: |
           cd plugins/
           zip ${{env.FILE_NAME}}.zip -r *
      - name: Create Release and Upload Release Asset
        uses: softprops/action-gh-release@v1
        with:
           tag_name: ${{needs.build.outputs.version}}
           name: Release ${{needs.build.outputs.version}}
           body: TODO New Release.
           draft: true
           prerelease: true
           files: ./plugins/${{env.FILE_NAME}}.zip
             
